body {
    background-color: #FFD5D5;
}

.main-title {
    height: 600px;
    background-color: azure;
    padding-top: 300px;
    padding-left: 100px;
    font-size: 80px;
}

.draw-ani{
    position: absolute;
    height: auto;
}

.draw-ani-line{
    
}



.members-area-item {
    margin-top: 50px;
    margin-bottom: 50px;
}

.members-area-item-text {
    margin: auto;
}

.members-area-item-image {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 400px;
}

.image{
    width: 300px;
    height: 300px;
    border: 10px solid #000;
}

.fourDims-area {
    height: auto;
}

.fourDims-area p {
    font-weight: normal;
    width: auto;
    text-align: center;
}

.fourDims-area-image {
    height: 500px;
}