.main {
    height: 600px;
    padding-top: 200px;
}

.main-title {
    text-align: center;
}

.main-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
}

.work-area {
    margin-bottom: 20px;
}

.display-area {
    /* height: 688px; */
}

.display-image {
    height: 592px;
    background-color: azure;
}

.desription {
    height: 688px;
    background-color: azure;
}