@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.text-style-title {
    font-family: Arial;
    font-size: 120px;
    font-style: normal;
    font-weight: 900;
    line-height: 169px;
    letter-spacing: 0em;
    text-align: left;
    color: #392A5F;
}

.text-style-subtitle {
    font-family: Arial;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 74px;
    letter-spacing: 0em;
    text-align: left;
    color: #392A5F;
}

.text-style-slogan {
    font-family: Arial;
    font-size: 70px;
    font-style: normal;
    font-weight: 900;
    line-height: 99px;
    letter-spacing: 0em;
    text-align: left;
}

.text-style-text {
    font-family: 'Times New Roman';
    font-size: 37px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #392A5F;
}


/* footer */

.text-style-footer {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #392A5F;
}